<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/javascripts/navigation.js"></script>

</head>
<header>
    <button type="button" class="navBtn" id="mainPage" onclick="toMainPage()">Overview</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toProjectsPage()">Projects</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toComponentsPage()">Components</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toChangesPage()">Changes History</button>
    <button type="button" class="navBtn" id="mainPage" onclick="openComponentWindow()">Add Component</button>

</header>
<body>

</body>

</html>