<!DOCTYPE html>
<html>
    <head>
        <script src="/javascripts/navigation.js"></script>
    </head>
<body>

    <button type="button" class="navBtn" id="mainPage" onclick="toMainPage()">Overview</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toProjectsPage()">Projects</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toComponentsPage()">Components</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toChangesPage()">Changes</button>


<h1>Electronic Component Overview</h1>
<h2>Welcome to your component overview</h2>


</body>
</html>